<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.demo.api.weather.repository.WForcastRepository">
	<select id="findSpot" parameterType="com.example.demo.api.weather.dto.Spot" resultType="com.example.demo.api.weather.dto.Spot">
       select 
			x,
			y 
		from TB_Coordinate
		where
			(city1 like '${city1}%') and (city2 like '${city2}%')
    </select>
	
</mapper>